.product-details {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
}

.product-info {
  flex: 1;
}

.product-info h1 {
  margin-bottom: 20px;
  font-size: 34px;
}

.price {
  color: #2563eb;
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.category,
.rating,
.stock {
  margin: 10px 0;
  font-size: 18px;
}

.description {
  margin-top: 20px;
  line-height: 1.8;
  color: #555;
}

.buy-btn {
  margin-top: 30px;
  padding: 14px 28px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.buy-btn:hover {
  background: #1d4ed8;
}

@media (max-width:768px) {
  .product-details {
    flex-direction: column;
    text-align: center;
  }
}